.myName{
    margin-right: auto;

}
body {
    margin: 0;
    display:flex;
    flex-direction: column;
    height: 100vh;
   
}
main{
    background-color: darksalmon;
    flex: 1;
}
header{
    background-color: brown;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
footer{
    background-color: palevioletred;
    text-align: center;
}
ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
}
